*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#faraz1{
    height: 150px;
    width: 300px;
    background-color: rgb(168, 135, 141);
    border: 3px solid black;
}

#faraz2{
    height: 150px;
    width: 300px;
    background-color: rgb(9, 75, 15);
    border: 3px solid black;
}

#faraz3{
    height: 150px;
    width: 300px;
    background-color: rgb(255, 0, 43);
    border: 3px solid black;
}
